{% extends "v_layout.html.twig" %}
{% block contenu %}
	<form method="post" action="{{ path("club.validFormDelC") }}">
		<div class="row">
			<fieldset>
				<legend>Delete un club</legend>
				<input name="idClub"  type="hidden" value="{{donnees.idClub}}" />
				<label>Voulez vous vraiment supprimer {{donnees.nomClub}} ?</label>
                <label>Choix :
                    <select name="choix">
                        <option value="oui">Oui</option>
                        <option value="non">Non</option>
                    </select>
                </label>
				<input type="submit" name="supprimerClub" value="Supprimer" />
			</fieldset>
		</div>
	</form>
{% endblock %}